
<form>

    <div class="card mb-5 mb-xl-10">
        <div class="card-header border-0 align-items-center">
            <!--begin::Card title-->
            <div class="card-title m-0">
                <h3 class="fw-bolder m-0">Property Form</h3>
            </div>
            <!--end::Card title-->
            <div class="card-action">
                <a href="" class="btn btn-secondary btn-sm">
                    <i class="fa-regular fa-chevron-left"></i>
                    Back To List
                </a>
                <button class="btn btn-success btn-sm">
                    Save Property
                </button>
            </div>
        </div>

        <div class="card-body border-top p-9">

            <div class="row mb-6">
                <label class="col-xl-2 col-lg-3 col-md-4 col-form-label required fw-bold fs-6">Property Title</label>
                <div class="col-xl-6 col-lg-6 col-md-8 fv-row">
                    <input type="text" name="company" class="form-control form-control-solid" placeholder="Company name" />
                </div>
            </div>

            <div class="row mb-6">
                <label class="col-xl-2 col-lg-3 col-md-4 col-form-label required fw-bold fs-6">Property Title</label>
                <div class="col-xl-6 col-lg-6 col-md-8 fv-row">
                    <select class="form-select form-select-solid" data-control="select2" data-placeholder="Select an option">
                        <option></option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                    </select>
                </div>
            </div>


        </div>

        <div class="card-footer text-end">
            <a href="" class="btn btn-secondary btn-sm">
                <i class="fa-regular fa-chevron-left"></i>
                Back To List
            </a>
            <button class="btn btn-success btn-sm">
                Save Property
            </button>
        </div>

    </div>

</form>