<!--begin::Aside menu-->
<div class="aside-menu flex-column-fluid ps-3 ps-lg-5 pe-1 mb-9" id="kt_aside_menu">
    <!--begin::Aside Menu-->
    <div class="w-100 hover-scroll-overlay-y pe-2 me-2" id="kt_aside_menu_wrapper" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-height="auto" data-kt-scroll-dependencies="#kt_aside_logo, #kt_aside_user, #kt_aside_footer" data-kt-scroll-wrappers="#kt_aside, #kt_aside_menu, #kt_aside_menu_wrapper" data-kt-scroll-offset="0">
        <!--begin::Menu-->
        <div class="menu menu-column menu-rounded fw-bold" id="#kt_aside_menu" data-kt-menu="true">

            <div class="menu-item">
                <a class="menu-link" href="/dashboard">
                    <span class="menu-icon">
                        <i class="fa-regular fa-dashboard"></i>
                    </span>
                    <span class="menu-title">Dashboard</span>
                </a>
            </div>

            <div data-kt-menu-trigger="click" class="menu-item here show menu-accordion">

                <span class="menu-link">
                    <span class="menu-icon">
                        <i class="fa-regular fa-home"></i>
                    </span>
                    <span class="menu-title">Properties</span>
                    <span class="menu-arrow"></span>
                </span>
                <div class="menu-sub menu-sub-accordion">

                    <div class="menu-item">
                        <a class="menu-link" href="/">
                            <span class="menu-bullet">
                                <span class="bullet bullet-dot"></span>
                            </span>
                            <span class="menu-title">My Drafts</span>
                        </a>
                    </div>

                    <div class="menu-item">
                        <a class="menu-link" href="/">
                            <span class="menu-bullet">
                                <span class="bullet bullet-dot"></span>
                            </span>
                            <span class="menu-title">Properties List</span>
                        </a>
                    </div>

                    <div class="menu-item">
                        <a class="menu-link" href="/">
                            <span class="menu-bullet">
                                <span class="bullet bullet-dot"></span>
                            </span>
                            <span class="menu-title">Add New Property</span>
                        </a>
                    </div>

                </div>
            </div>


            <div data-kt-menu-trigger="click" class="menu-item menu-accordion">

                <span class="menu-link">
                    <span class="menu-icon">
                        <i class="fa-regular fa-user"></i>
                    </span>
                    <span class="menu-title">Accounts</span>
                    <span class="menu-arrow"></span>
                </span>
                <div class="menu-sub menu-sub-accordion">

                    <div class="menu-item">
                        <a class="menu-link" href="/">
                            <span class="menu-bullet">
                                <span class="bullet bullet-dot"></span>
                            </span>
                            <span class="menu-title">My Drafts</span>
                        </a>
                    </div>


                </div>
            </div>


            <div data-kt-menu-trigger="click" class="menu-item menu-accordion">

                <span class="menu-link">
                    <span class="menu-icon">
                        <i class="fa-regular fa-cog"></i>
                    </span>
                    <span class="menu-title">Settings</span>
                    <span class="menu-arrow"></span>
                </span>
                <div class="menu-sub menu-sub-accordion">

                    <div class="menu-item">
                        <a class="menu-link" href="/">
                            <span class="menu-bullet">
                                <span class="bullet bullet-dot"></span>
                            </span>
                            <span class="menu-title">My Drafts</span>
                        </a>
                    </div>


                </div>
            </div>



        </div>
        <!--end::Menu-->
    </div>
    <!--end::Aside Menu-->
</div>
<!--end::Aside menu-->