<!--begin::Brand-->
<div class="aside-logo flex-column-auto px-9 mb-9 mb-lg-17 mx-auto" id="kt_aside_logo">
    <!--begin::Logo-->
    <a href="/../../demo15/dist/index.html">
        <img alt="Logo" src="/assets/media/logos/logo-1.svg" class="h-30px logo" />
    </a>
    <!--end::Logo-->
</div>
<!--end::Brand-->